// Colors
$grey-dark: #303030;
$grey-semi-dark: #535353;
$grey-light: #F6F6F6;
$grey-medium: #B4BDC2;
$green-text: #00d203;
$teal-text: #448d80;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
